{% extends 'base.html' %}
{% block content %}
<style>
    h1 {
      text-align: center;
      margin-top: 250px;
    }
    .centered-image {
      display: block;
      margin-left: auto;
      margin-right: auto;
      margin-top: 250px;
      /* Add animation property */
      animation: spin 3s linear infinite;
    }
    /* Define the animation */
    @keyframes spin {
      0% { transform: rotate(0deg); }
      100% { transform: rotate(360deg); }
    }
</style>
<h1>Home</h1>
<img class="centered-image"src="https://i.imgur.com/ROeLImT.jpeg"  />
{% endblock %}