{% extends 'base.html' %}
{% block content %}

<h1>Medication Details</h1>

<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ medication.name }}</span>
        <p>Dose: {{ medication.dose }}</p>
        <p>Frequency (in hrs between doses): {{ medication.frequency|linebreaks }}</p>
        <p>Warnings: {{ medication.warnings|linebreaks }}</p>
      </div>
      <div class="card-action">
        <a href="{% url 'medications_update' medication.id %}">Update</a>
        <a href="{% url 'medications_delete' medication.id %}">delete</a>

      </div>
    </div>
    <form action="{% url 'add_medicationintake' medication.id %}" method="POST">
        {% csrf_token %}
        <!-- Render the inputs -->
        {{ medicationintake_form.as_p }}
        <input type="submit" class="btn" value="I took my medication">
    </form>

    {% if medication.dose_taken %}

        <div class="card-panel teal-text center-align">All caught up for now. Next dose is in {{ medication.dose_taken.1}} hours.</div>

    {% else %}
        <div class="card-panel red-text center-align">You missed your dose! It happens, try to take it as soon as you can.</div>
    {% endif %}


    <table class="striped">
        <thead>
            <tr><th>Medication</th><th>Date</th></tr>
        </thead>
        <tbody>
            {% for medicationintake in medication.medicationintake_set.all %}
            <tr>
                <td>{{medicationintake.medication}}</td>
                <td>{{medicationintake.timestamp}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    
  </div>
</div>
  <!-- New Markup Below -->
{% endblock %}
