{% extends 'base.html' %}
{% block content %}

<h1 class="teal-text text-darken-2">Medication List</h1>

{% for medication in medications %}
<a href="{% url 'detail' medication.id %}">
    <div class="card hoverable">
      <div class="card-content black-text">
        <span class="card-title teal-text text-darken-1">{{ medication.name }}</span>        
        <p>Warnings: {{ medication.warnings|linebreaks }}</p>
        {% if medication.dose_taken %}

        <div class="card-panel teal-text center-align">All caught up for now. Next dose is in {{ medication.dose_taken.1}} hours.</div>

        {% else %}
            <div class="card-panel red-text center-align">You missed your dose! It happens, try to take it as soon as you can.</div>
        {% endif %}
      </div>
    </div>
  </a>
{% endfor %}

{% endblock %}